target
project/boot
*.jar
src/test/output

.project
*.iml
.idea
.idea_modules
.cache
.history
.classpath
.settings
.DS_Store

#sbt
project/target/**/*
project/project/target/**/*
target/**/*
target/*

#project files
.classpath
.settings/

#ant build
build.number

#misc
.cache

#temp files
*~
*#
.#*
.ensime_lucene
.ensime